body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: url('background.png');
    font-family: fantasy;
}

.gameBoard {
    border: groove;
    height: 380px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title {
    /* border: groove; */
    width: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.row1 {
    display: flex;
    height: 100px;
    width: 300px;
    border-bottom: solid 8px black;
}

.row1 div {
    /* border: ridge; */
    height: 100px;
    width: 100px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.row1 div:hover {
    /* border: ridge; */
    height: 100px;
    width: 100px;
    font-size: 100px;
    text-align: center;
    box-shadow: 0px 10px 10px;
}  

.row2 {
    display: flex;
    height: 100px;
    width: 300px;
    border-bottom: solid 8px black;

}

.row2 div {
    /* border: ridge; */
    height: 100px;
    width: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.row2 div:hover {
    /* border: ridge; */
    height: 100px;
    width: 100px;
    font-size: 100px;
    text-align: center;
    box-shadow: 0px 10px 12px rgb(52, 53, 51);
} 
.row3 {
    display: flex;
    height: 100px;
    width: 300px;
}

.row3 div {
    /* border: ridge; */
    height: 100px;
    width: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3 div:hover {
    height: 100px;
    width: 100px;
    font-size: 100px;
    text-align: center;
    box-shadow: 0px 10px 12px rgb(52, 53, 51);
} 

.r1c1, .r2c1, .r3c1, .r1c2, .r2c2, .r3c2 {
    border-right: solid 8px black;
}

.scoreBoard {
    border: groove;
    width: 380px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerScores {
    /* border: ridge; */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}

.playerX, .playerO, .scores {
    /* border: ridge; */
    width: 30%;
    height: 110px;
    text-align: center;
}

.scores, .scoreX, .scoreO {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.scoreX, .scoreO {
    border: ridge;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 50px;
}

.playerX .nameX, .playerO .nameO {
    border: ridge;
    width: 100%;
    height: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;
}

button {
    border: groove;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: green;
}